html{
    font-size: 10px;
}

body * {
    font-size: 16px;
    border: 2px solid;
}

.container{
    width: 600px;
    /* 60em */
    font-size: 10px;
}

.parent{
    width: 300px;
    font-size: 2em;
}

.child{
    width: 20rem;
    font-size: 2em;
}